# Laravel
*.log
.env
.env.backup
.env.production
.env.*.local
/storage/*.key
/storage/pail
/public/build
/public/hot
/public/storage
/vendor
/node_modules
/auth.json
Homestead.json
Homestead.yaml

# Testing
.phpunit.result.cache
/.phpunit.cache

# Editors & IDEs
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# OS
.DS_Store
Thumbs.db
